<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/style.css"> <!--connecting the css file to the html file-->
    <link
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap" rel="stylesheet">
    <h1 class="main-header">Depression Dashboard</h1>
</head>
<body>
  <div class ="layout">
      <nav class = "sidebar">
          <ul>
              <li>
                <a href="templates/index.html">
                  <img src="static/images/home.png" alt="Home Icon" class="icon">
                  <span class = "text">Home</span>
                </a>
              </li>
              <li><a href="templates/prediction.html">
                <img src="static/images/prediction.png" alt="Prediction Icon" class="icon">
                <span class = "text">Prediction</span>
              </a></li>
              <li><a href="templates/result.html">
                <img src="static/images/results.png" alt="Results Icon" class="icon">
                <span class = "text">Results</span>
              </a></li>
              <li><a href="templates/about.html">
                <img src="static/images/about.png" alt="About Icon" class="icon">
                <span class = "text">About</span>
              </a></li>
          </ul>
     </nav>
  </div>
</body>
</html>